@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Carbon;
    src: url(assets/fonts/carbon.black.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(assets/fonts/Montserrat-Medium.ttf);
}

:root {
    --color-black: black;

    --color-nav: rgb(105, 105, 105);

    --color-biography: rgb(187, 187, 187);

    --color-album-shop: rgb(217, 217, 217);

    --color-tour: rgb(229, 229, 234);


    --titles-text: Carbon;
    --normal-text: Montserrat-Regular;
    --normal-text-semibold: Montserrat-SemiBold;
    --normal-text-medium: Montserrat-Medium;
    --normal-text-bold: Montserrat-Bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: var(--normal-text);
}

h1 {
    font-family: Carbon;
    text-transform: uppercase;

    font-size: 6rem;
    letter-spacing: .2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.burguer {
    width: 30px;
    height: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    right: 2rem;

    span {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 2rem;
        width: 100%;
        height: 1px;
        display: inline-block;

    }

    display: none;
}

/* Hero section */
.hero {
    height: 100vh;
    background-color: rgb(244, 244, 244);
    background-image: url(assets/img/portada.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;

    header {
        width: 100%;
        height: 80px;
        background-color: var(--color-nav);
        padding: 1rem 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        nav {
            width: 100%;

            ul {
                list-style-type: none;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7rem;

                li a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: Montserrat-Semibold;
                    color: var(--color-black);
                    font-size: 1.5rem;
                    margin-top: 0.5rem;
                }

                li:nth-child(7) {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    position: absolute;
                    right: 2rem;

                    a img {
                        height: 45px;
                        width: 45px;

                    }
                }
            }
        }
    }

    .arrow {
        height: 55px;
        width: 55px;

        position: absolute;
        bottom: .5rem;

        left: 50%;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        img {
            width: 100%;
            height: 100%;

        }
    }

    .hero-title {

        font-family: var(--titles-text);
        letter-spacing: .2rem;
        text-transform: uppercase;
        line-height: 0.9;

        .line-1 {
            padding-left: 26rem;
            padding-top: 3rem;

            font-size: clamp(2.5rem, 1.459rem + 3.784vw, 6rem);
        }

        .line-2 {
            padding-left: 26rem;
            margin-left: 20.4rem;
            font-size: clamp(2.5rem, 1.459rem + 3.784vw, 6rem);
        }

    }

    h1 {
        font-size: clamp(2.5rem, 1.459rem + 3.784vw, 6rem);
        display: none;
        padding-top: 5rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        line-height: 0.9;
    }
}

/* Biography */
.biography {
    background-color: var(--color-biography);
    padding-bottom: 6rem;


    .biography-title {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: clamp(2.5rem, 1.459rem + 3.784vw, 6rem);
            letter-spacing: .2rem;
            margin-top: 5rem;
        }

    }

    .biography-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        margin-top: 4rem;
        width: 100%;


        .biography-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-top: 9rem;
        }

        .biography-row:nth-child(2) {
            flex-direction: row-reverse;
        }

        .biography-text {
            flex: 1;
        }

        .text-1 {
            padding-left: 3rem;
            font-size: clamp(0.7rem, 0.533rem + 0.556vw, 1.2rem);
            line-height: 1.4;
            max-width: 1000px;

            p {
                padding-top: 1rem;
            }

            p:nth-child(1) {
                padding-top: 0;
            }

            span {
                font-family: var(--normal-text-bold);
            }
        }

        .biography-photo {
            flex: 1;
            max-width: 50%;
        }

        .grammy {
            flex: 1;
            width: 100%;
            padding-left: 10rem;
            padding-right: 3rem;


            img {
                width: 100%;
                height: auto;
            }
        }

        .text-2 {
            padding-right: 3rem;
            font-size: clamp(0.7rem, 0.533rem + 0.556vw, 1.2rem);
            line-height: 1.4;
            max-width: 1000px;

            p {
                padding-top: 1rem;
            }

            p:nth-child(1) {
                padding-top: 0;
            }

            span {
                font-family: var(--normal-text-bold);
            }
        }

        .concert {
            flex: 1;
            max-width: 100%;
            padding-left: 3rem;
            padding-right: 10rem;


            img {
                width: 100%;
                height: auto;
            }
        }

        video {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 3rem;
        }
    }

}

/* Album */
.album {
    background-color: var(--color-album-shop);

    h1 {
        font-size: clamp(2.5rem, 1.459rem + 3.784vw, 6rem);
        letter-spacing: .2rem;
        padding-top: 4rem;
    }

    h2 {
        font-family: Carbon;
        text-transform: uppercase;

        font-size: clamp(1.5rem, 0.459rem + 3.784vw, 5rem);
        letter-spacing: .2rem;

        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
    }

    .album-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;


        img {
            width: 100%;
            height: auto;
            max-width: 300px;
        }
    }

    .album-name {
        h2 {
            padding-top: 0rem;
        }
    }

    .gnx-songs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 7rem 4rem 7rem;
        gap: 4rem;


        .songs {
            flex: 1 0 400px;
        }
    }

    .others-albums {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 10rem 4rem;
        gap: 4rem;

        .albums {
            flex: 1 0 40%;
        }
    }
}

/* On tour */
.tour {
    background-color: var(--color-tour);

    .tour-name {
        padding-top: 4rem;
        text-align: center;

        h1 {
            font-size: clamp(2.5rem, 1.459rem + 3.784vw, 6rem);
            line-height: 1.3;
        }
    }

    .photo-tour {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            height: auto;
            max-width: 1700px;
            padding: 3rem;
        }
    }

    .events {
        font-family: var(--normal-text-medium);
        font-size: clamp(0.7rem, 0.492rem + 0.757vw, 1.4rem);
        margin: 0 auto;
        padding-bottom: 10rem;

        .list-event {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 4rem 11rem 0 11rem;
            width: 100%;

            .event-date {
                flex: 1.5;
            }

            .event-ubication {
                flex: 2;
                text-align: left;
            }

            .event-buttons {
                flex: 1.5;
                display: flex;
                gap: 1rem;
                justify-content: center;
                cursor: pointer;

                :hover {
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }
            }

            .btn {
                width: 208px;
                height: 49px;

                display: flex;
                align-items: center;
                justify-content: center;

                text-transform: uppercase;
                text-decoration: none;

                color: var(--color-black);
                border: 2px solid var(--color-black);
                cursor: pointer;

            }

        }
    }
}

/* Shop */
.shop {
    background-color: var(--color-album-shop);
    color: rgb(66, 66, 66);
    font-family: var(--normal-text-medium);
    margin: 0 auto;

    .shop-title {
        padding-top: 4rem;

        h1 {
            font-size: clamp(2.5rem, 1.459rem + 3.784vw, 6rem);
            color: var(--color-black);
            font-family: var(--titles-text);
        }
    }

    .shop-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding: 5rem 9rem 8rem 9rem;
        gap: 8rem;

        .products-items {
            flex: 1 0 360px;

            background-color: transparent;
            border: 2px solid rgb(88, 88, 88);
            border-radius: 2rem;

            text-align: center;
            padding: 1rem;

            display: flex;
            flex-direction: column;

            .products-img {

                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .products-img img {
                max-width: 24rem;
                height: auto;
                display: block;
            }

            .name-price {
                font-size: 1.4rem;
                margin-top: 1rem;
                margin-bottom: 4rem;
            }

            .products-buttons {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;

                margin-top: auto;

                select {
                    padding: 0.8rem 1rem;

                    border: 1px solid rgb(66, 66, 66);
                    border-radius: 1rem;
                    color: rgb(66, 66, 66);
                    font-family: var(--normal-text-medium);

                    cursor: pointer;

                    background-color: transparent;


                }

                select:hover {
                    border-radius: 1rem;
                }



                .add-to-cart {
                    margin: 0;
                    padding: 0.8rem 0.5rem;

                    border: 1px solid rgb(66, 66, 66);
                    border-radius: 1rem;
                    color: rgb(66, 66, 66);
                    font-family: var(--normal-text-medium);

                    background-color: transparent;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.7rem;
                    cursor: pointer;

                    img {
                        width: 22px;
                        height: auto;
                    }
                }

                .out-of-stock {
                    margin: 0;
                    padding: 0.8rem 0.5rem;

                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 1rem;
                    color: rgba(0, 0, 0, 0.5);
                    font-family: var(--normal-text-medium);

                    background-color: transparent;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.7rem;
                    cursor: pointer;

                    img {
                        width: 22px;
                        height: auto;
                    }
                }
            }
        }
    }
}

/* Contact */
.contact {
    margin: 0 auto;
    background-color: rgb(39, 39, 39);
    color: white;
    padding-top: 5rem;

    iframe {
        height: 48vh;
        margin-top: -5rem;
    }

    .contact-title h1 {
        font-size: clamp(2.5rem, 1.459rem + 3.784vw, 6rem);
        padding-top: 3rem;
    }

    .contact-content {
        display: flex;
        flex-direction: center;
        gap: 3rem;
        padding: 3rem;
        padding-left: 7rem;

        .contact-form {
            flex: 1.4;

            form {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                input[type=text],
                input[type=email],
                input[type=tel],
                textarea {
                    background-color: rgb(77, 77, 77);
                    border: none;
                    padding: 1.5rem;
                    color: white;
                    border-radius: 0;
                    font-size: clamp(0.7rem, 0.492rem + 0.757vw, 1.4rem);
                }

                input[type=text]::placeholder,
                input[type=email]::placeholder,
                input[type=tel]::placeholder,
                textarea::placeholder {
                    color: white;
                    font-family: var(--normal-text);
                }
            }
        }


    }

    .privacy-policy-button {
        display: flex;
        align-items: center;
        gap: .8rem;
        font-size: clamp(0.7rem, 0.492rem + 0.757vw, 1.4rem);
        margin-top: 2rem;

        input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;

            width: 30px;
            height: 30px;

            border: 1px solid rgb(77, 77, 77);
            cursor: pointer;
        }

        input[type=checkbox]:checked {
            background-color: rgb(77, 77, 77);
        }

        input[type=text]:focus,
        input[type=email]:focus,
        input[type=tel]:focus,
        textarea:focus {
            border: 1px solid white;
            outline: none;
        }

        p {
            font-family: var(--normal-text);
            line-height: 0.9;
            letter-spacing: .05rem;
            margin: 0;
        }
    }

    .button-submit button {
        background-color: transparent;
        border-color: rgb(77, 77, 77);
        color: white;
        border: 1px solid white;
        font-size: 1.4rem;
        width: 7rem;
        height: 3rem;
        font-family: var(--normal-text);
        cursor: pointer;
        margin-top: 2rem;
    }

    button:hover {
        background-color: rgb(218, 218, 218);
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .contact-information {
        background-color: rgb(39, 39, 39);
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 2.3rem;
        padding-top: 12rem;
        padding-left: 4rem;
        font-size: clamp(0.7rem, 0.492rem + 0.757vw, 1.4rem);

        .information {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            img {
                width: 40px;
                height: 40px;
            }

            p {
                margin: 0;
                font-family: var(--normal-text);
            }
        }

        .ubication {
            span {
                font-size: 1rem;
            }
        }

    }

    .partners {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 3rem;
        margin-top: 7rem;


        .vevo {
            height: 40px;
            width: auto;
            object-fit: contain;
            cursor: pointer;
        }

        .mtv {
            height: 180px;
            width: auto;
            object-fit: contain;
            cursor: pointer;
        }

        .billboard {
            height: 132px;
            width: auto;
            object-fit: contain;
            cursor: pointer;
        }

    }

    .arrow-up {
        height: 55px;
        width: 55px;
        padding-top: 7rem;

        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding-left: 14rem;

        img {
            width: 3rem;
            height: 3rem;
        }
    }
}

/* Footer */
footer {
    background-color: var(--color-black);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    flex-wrap: wrap;
    gap: 1.5rem;

    .text {
        color: rgb(255, 255, 255);
        font-size: clamp(0.5rem, 0.232rem + 0.973vw, 1.4rem);
        padding-right: 3rem;
        letter-spacing: .05rem;

        text-align: center;
    }

    .social-media {
        display: inline-flex;
        gap: 3rem;
        padding-left: 3rem;
        cursor: pointer;

        gap: clamp(1.5rem, 1.054rem + 1.622vw, 3rem);

        img {
            height: 40px;
            width: 40px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .burguer {
        display: flex;
        cursor: pointer;
    }

    .hero {
        header {
            nav {
                ul {
                    justify-content: flex-end;
                    gap: 1.5rem;

                    li:nth-child(1),
                    li:nth-child(2),
                    li:nth-child(3),
                    li:nth-child(4),
                    li:nth-child(5),
                    li:nth-child(6) {
                        display: none;
                    }

                    li:nth-child(7) {
                        position: static;
                        display: flex;
                        gap: 1.5rem;
                        padding: 2.5rem;
                    }

                    li:last-child {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

    .hero-title .line-1,
    .hero-title .line-2 {
        display: none;
    }

    .hero-title h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

    }

    .hero-title {
        padding: 0;
    }

    .biography {
        .biography-content {
            .grammy {
                width: 100%;
                height: auto;
                padding-left: 5rem;
                min-width: 300px;
            }

            .concert {
                width: 100%;
                height: auto;
                min-width: 300px;
                padding-right: 5rem;
            }
        }

    }

    .tour {
        .events {
            padding-top: 1rem;
            padding-bottom: 4rem;

            .list-event {
                flex-direction: column;
                align-items: center;
                gap: .2rem;
                padding: 2rem 1.5rem 0 1.5rem;

                .event-date,
                .event-ubication,
                .event-buttons {
                    flex-basis: auto;
                    flex-grow: 0;
                    width: 100%;
                    text-align: center;
                }

                .event-buttons {
                    padding-top: 1rem;
                }

                .btn {
                    width: 100%;
                    max-width: 180px;
                }
            }


        }
    }


    .contact {
        padding-top: 3rem;

        .contact-title h1 {
            padding-top: 2rem;
        }

        .contact-content {
            flex-direction: column;
            align-items: center;
            padding: 2rem 1.5rem;
            gap: 4rem;
        }

        .contact-information {
            order: 1;
            flex: none;
            align-items: flex-start;
            padding: 0;
            padding-top: 3rem;

        }

        .contact-form {
            order: 2;
            flex: none;
            width: 100%;
            padding: 4rem;
            
        }

        .partners {
            order: 3;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            width: 100%;
            margin-top: 0;
            padding: 0;
            gap: 2rem;

            .vevo {
                height: 40px;
                width: auto;
            }

            .mtv {
                height: 100px;
                width: auto;
            }

            .billboard {
                height: 100px;
                width: auto;
            }
        }

        .arrow-up {
            width: 100%;
            padding: 4rem 0 0 0;
            justify-content: center;
        }
    }

    footer {
        justify-content: center;

        .text {
            padding-right: 0;
        }

        .social-media {
            padding-left: 0;
        }
    }
}

/* He marcado el cambio de 1006px para que los albumes y las canciones cambien en el mismo momento */
@media screen and (max-width: 1006px) {

    .hero {
        background-size: contain;
    }

    .biography {
        padding: 0;
        margin: 0;

        .biography-content {
            margin-top: 1rem;
            gap: 0;

            .biography-row {
                flex-direction: column;

                align-items: center;
                padding-top: 0;
                gap: 1rem;
            }

            .grammy,
            .concert {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
                width: 100%;
                height: auto;


                img {
                    max-width: 300px;
                }

            }

            .grammy {
                img {
                    min-width: 300px;
                    padding-bottom: 2rem;
                }
            }

            .biography-row:nth-child(2) {
                flex-direction: column;
            }

            video {
                padding-top: 5rem;
                padding-bottom: 4rem;
            }
        }

        .biography-text {
            text-align: center;
        }

        .biography-photo {
            max-width: 100%;
            flex: none;
        }

        .text-1 {
            padding: 3rem 0;
            padding-left: 9rem;
            padding-right: 4rem;
            text-align: start;
        }

        .text-2 {
            padding: 3rem 5rem;
            text-align: start;
        }

    }

    .album {
        .gnx-songs {
            padding-bottom: 2rem;
        }

        .others-albums {
            flex-direction: column;
            
            padding: 6rem 1.5rem;

            .albums {
                width: 100%;
                flex-basis: auto;
            }
        }
    }

    .tour {
        .events {
            padding-top: 1rem;
            padding-bottom: 4rem;

            .list-event {
                flex-direction: column;
                align-items: center;
                gap: 0.4rem;
                padding-top: 2rem;


                .event-date,
                .event-ubication,
                .event-buttons {
                    flex-basis: auto;
                    flex-grow: 0;
                    width: 100%;
                    text-align: center;
                }

                .event-buttons {
                    padding-top: 1rem;
                }

                .btn {
                    width: 100%;
                    max-width: 180px;
                }
            }


        }
    }
}

@media screen and (max-width: 575px) {
    .hero {
        header {
            nav {
                ul {
                    li:nth-child(7) {
                        a img {
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }

    .biography {

        .biography-content {


            .grammy,
            .concert {
                img {
                    display: flex;
                    padding-right: 5rem;
                    
                }
            }
        }

        .biography-text {
            text-align: center;
        }

        .text-1 {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: start;
            padding-left: 0;
            padding-right: 2rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .text-2 {
            width: 100%;
            padding: 3rem;
            text-align: start;
        }
    }

    .album {

        .album-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 3rem;


            img {
                width: 100%;
                height: auto;
                max-width: 200px;
            }
        }

        .gnx-songs {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 5rem 1.5rem;

            .songs {
                flex: 0;
            }
        }

        .others-albums {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 8rem 1.5rem 5rem 1.5rem;

            .albums {
                flex: 0;
            }
        }
    }

    .tour {


        .events {
            .list-event {

                .event-date {
                    flex: 1;
                }

                .event-ubication {
                    flex: 1;
                    padding: 1rem 0;
                }

                .event-buttons {
                    flex: 1;
                    gap: 0.5rem;
                }

                .btn {
                    padding: 1rem;
                    width: 130px;

                    text-align: center;
                }
            }
        }
    }

    .shop {
        padding-bottom: 3rem;

        .shop-products {
            padding: 3rem 1.5rem;

            gap: 3rem;

            .products-items {
                flex-basis: 100%;

                .products-img img {
                    max-width: 100%;
                }

                .name-price {
                    font-size: 1.2rem;
                    margin-bottom: 2rem;
                }

                .products-buttons {
                    justify-content: center;
                }
            }
        }
    }

    .contact {
        .contact-form {
            padding: 1.5rem;
        }

        .contact-content {
            gap: 0;
        }
    }
}